.box {
  position: absolute;
  top: 70px;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 320px;
  height: 100vh;
  background-color: #fff;
  z-index: 10;
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 11px 8px 11px 11px;
  color: #9197b3;
  &:focus,
  &:hover {
    background: #5932ea;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
  }
  &:focus *,
  &:hover * {
    stroke: #ffffff;
  }
  &Box {
    display: flex;
    align-items: center;
  }
  &Text {
    margin-left: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(21 / 14);

    letter-spacing: -0.01em;
  }

  &Chevron {
    justify: flex-end;
  }
}
