@import '/src/assets/styles/mixins';

.box {
  display: flex;
  align-items: center;

  @include mq(mob-only) {
    margin-bottom: 32px;
  }
  @include mq(desk) {
    margin-bottom: 52px;
  }
}

.text {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.textMain {
  margin-left: 8px;
  font-weight: 600;
  font-size: 26px;
  line-height: calc(39 / 26);

  letter-spacing: 0.01em;
  color: #000000;
}
.textVersion {
  margin-left: 4px;
  font-weight: 500;
  font-size: 10px;
  line-height: calc(15 / 10);

  letter-spacing: -0.01em;

  color: #838383;
}

.burgerBtn {
  display: none;
  @include mq(mob-only) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    margin-left: auto;
    border: 0;
    background-color: #ffffff;
  }
  &Icon {
    width: 20px;
    height: 20px;
  }
}
